<div class="container">
  <div class="grid justify-content-center container-char-45 p-4">



    <div
      class="p-col-1 p-col-3 p-md-4 p-lg-6 py-2"
      *ngFor="
        let character of characters | paginate  : {
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: totalItems }"
    >
    <app-character-card
        [character]="character"
        class="flex-column cursor-pointer"
      ></app-character-card>
    </div>
  </div>

</div>

<div class="bottom d-flex flex-row justify-content-center ">
  <pagination-controls
   class="pagination d-flex justify-content-center"
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onPageChange($event)"
    [maxSize]="5"
    [directionLinks]="true"
    [autoHide]="true"
  ></pagination-controls>

  <app-back-button class="back-button"></app-back-button>

</div>
