<div class="container">
  <div class="row">
    <div
      class="col-md-4"
      *ngFor="
        let character of characters
          | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: totalItems
              }
      "
    >
      <div class="card">
        <img
          [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
          class="card-img-top"
          alt="{{ character.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ character.name }}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ character.id }}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ character.description }}</h5>
        </div>
      </div>
    </div>
  </div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onPageChange($event)"
    [maxSize]="5"
    [directionLinks]="true"
    [autoHide]="true"
  ></pagination-controls>
</div>
