@import "src/styles.scss";

.back-button {
  position: absolute;
  margin-top: 15px;
  margin: 15px;
  top: 0;
  right: 0;
}

.bottom {
  position: relative;
  // max-width: 900px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-char-45 {
  max-width: 1200px;
}

.container-top{
  width: 100%;
}

.container-selector{
  max-width: 1200px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.selector{
  max-width: 1200px;
 justify-content: center;
}

