@import 'src/styles.scss';

$jj: $secondary;

.panel{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  $primary-dark;
  color: $secondary;
}

.jj {
  position: absolute;
  margin-top: 150px;
  max-width: 600px;
  text-align: center;
  font-size: 6vmin;
  color: $jj;
  line-height: 0.85;
  text-transform: uppercase;
  background-image: url(https://anonimag.es/i/cee6d0f7-9dd3-430b-b9c3-bee2c52779b453d9f.jpg);
  background-size: contain;
  -webkit-text-fill-color: rgba(white, 0.1);
  -webkit-background-clip: text;
  z-index: 10;
  font-family: $marvel-font;

  &:before {
    content: "marvel";
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    font-size: 3vmax;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-background-clip: none;
    background-color: red;
    padding: 3px;
  }

  & + & {
    -webkit-text-fill-color: red;
    z-index: 20;
    animation: meh 3s ease-out infinite alternate;

    @at-root {
      @keyframes meh {
        from {
          clip-path: polygon(100% 0, 100% 100%, 20% 100%, 61% 91%, 94% 47%);
        }
        50% {
          clip-path: polygon(100% 0, 100% 100%, 20% 100%, 59% 52%, 74% 13%);
        }
        to {
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 85%, 87% 41%);
        }
      }
    }
  }

  span {
    display: flex;
  }
}

.text{
  @include text($secondary, 1rem, 500);
  max-width: 600px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

}

@media ( max-height: 1200px ) {
 .jj{
    margin-top: 400px;
    font-size: 10vmin;
 }
 .panel{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  $primary-dark;
    color: $secondary;
  }
 }

