
<div class="character-card" (click)="navigateTo(character.id)">
	<a class="card-link">
		<div class="card-head">
			<figure class="image-wrapper">
				<img
          [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
          class="card-img-top"
          alt="{{ character.name }}"
          loading="lazy"
        />
			</figure>
		</div>
		<div class="card-content slider">
			<p class="card-content-headline">{{ character.name }}</p>
			<p class="card-content-footer">Peter Parker</p>
		</div>
	</a>
</div>
