<div *ngIf="comicSelected">
  <app-back-button class="back-button pl-4"></app-back-button>
  <div class="image-top">
    <img
      [src]="
      comicSelected.thumbnail.path + '.' + comicSelected.thumbnail.extension
      "
      alt="{{ comicSelected.title }}"
      class="card-img-top"
    />
  </div>

  <div class="panel">
    <h1 class="jj">
      <span>{{ comicSelected.title }}</span>
    </h1>
    <h1 class="jj">
      <span>{{ comicSelected.title }}</span>
    </h1>
    <p class="text px-2">{{comicSelected.description}}</p>
  </div>

</div>
